VITE_CONTACT_FORM_WEBHOOK_URL=https://automate.eyelevelstudio.in/webhook/contact-form
VITE_JOB_APPLY_WEBHOOK_URL=https://automate.eyelevelstudio.in/webhook/job-apply
VITE_FOOTER_LEAD_WEBHOOK_URL=https://automate.eyelevelstudio.in/webhook-test/fa30713f-f07b-4f1a-a560-d9409df62413
